@font-face {
    font-family: 'gilroyextrabold';
    src: url('../fonts/gilroy-extrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy Light';
    src: url('../fonts/gilroy-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/OpenSans-Light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body { 
    margin: 0;
    padding: 0;

    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    color: #000;
    text-transform: none;

    background-color: #fff;
}

a {
    text-decoration: none;
}

.visually-hidden { 
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.main-header {
    background-color: #f7e296;
}

.main-search a {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 0.001em;
    color: #000;
    text-transform: uppercase;
}

.main-search a:hover {
    opacity: 0.6;
}

.main-search a:active {
    opacity: 0.3;
}

.main-search input[type='search'] {
    font: inherit;
    font-family: 'open_sanslight', sans-serif;
    font-size: 15px;
    line-height: 36px;
    letter-spacing: 0.001em;

    background-color: transparent;
    border: none;
}

.main-search input[type='search']::placeholder {
    color: #000;
    opacity: 0.3;
}

.main-search input[type='search']:hover::placeholder {
    opacity: 0.6;
}

.main-search input[type='search']:focus::placeholder {
    opacity: 1;
    border-bottom: 2px solid #000;
}

.user-functions-main,
.main-navigation,
.navigation,
.user-functions-list {
    list-style: none;
}

.user-functions-main {
    font-family: 'open_sanslight', sans-serif;
    font-size: 15px;
    line-height: 36px;
    letter-spacing: 0.001em;
}

.main-navigation,
.user-functions-list {
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.navigation a {
    font-family: 'open_sanslight', sans-serif;
    font-size: 15px;
    line-height: 36px;
    letter-spacing: 0.001em;
    text-transform: none;
}

.user-functions-main a,
.main-navigation a,
.navigation a,
.user-functions-list a {
    color: #000;
}

.user-functions-main a:hover,
.main-navigation a:hover,
.navigation a:hover {
    opacity: 0.6;
}

.user-functions-main a:active,
.main-navigation a:active,
.navigation a:active,
.user-functions-main .exit {
    opacity: 0.3;
}

.number {
    font-size: 179.2px;
    line-height: 179.2px;
    letter-spacing: 0.001em;
}

.items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.item p:nth-of-type(2) {
    font-size: 47px;
    line-height: 56px;
    letter-spacing: 0.001em;
}

.item p:nth-of-type(3) {
    font-family: 'open_sanslight', sans-serif;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.001em;
}

.button {
    position: relative;

    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.2em;
    color: #000;
    text-transform: uppercase;
}

.button::before {
    content: '';
    display: block;
    width: 220px;
    height: 8px;
    background-color: #f0c52e;
    position: absolute;
    top: 7px;
    left: -40px;
    z-index: -1;
    transition-duration: 0.2s;
}

.button:hover::before {
    content: '';
    display: block;
    width: 220px;
    height: 40px;
    background-color: #f0c52e;
    position: absolute;
    top: -10px;
    left: -40px;
    z-index: -1;
}

.button:active {
    color: #a88a20;
}

.characteristics tr:first-child {
    font-family: 'Gilroy Light', sans-serif;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0.001em;
}

.characteristics tr:last-child {
    font-family: 'open_sanslight', sans-serif;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.001em;
}

.sections {
    list-style: none;
}

.sections p:first-child {
    width: 160px;
    height: 160px;
    background-color: #f7e296;
    display: flex;
    position: relative;
}

.sections p:last-child {
    color: #000;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.001em;
}

.section img {
    margin: auto;
}

.fix {
    position: absolute;
    bottom: 0;
    left: 38px;
}

 .section:hover p:first-child {
    background-color: #f0c52e;
}

.section:active img,
.section:active p:last-child {
    opacity: 0.3;
}

.services {
    list-style: none;
}

.services button {
    font-family: 'gilroyextrabold';

    border: none;
    background: none;
}

.services .button::before {
    width: 160px;
    top: 6px;
    left: -20px;
}

.services .button:hover::before {
    width: 160px;
    height: 40px;
    top: -10px;
    left: -20px;
}

.services .button:active::before {
    width: 278px;
    background-color: #000;
}

.services .button:active {
    color: #f7e184;
}

.description h3 {
    font-size: 47px;
    line-height: 47px;
    letter-spacing: 0.001em;
}

.description p {
    font-family: 'open_sanslight', sans-serif;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.001em;
}

.vendors {
    list-style: none;
    margin: 0;
    padding: 0;
}

.vendor a {
    width: 260px;
    height: 100px;
    display: block;

    background-image: url('../img/logo-1.png');

    transition-duration: 0.2s;
}

.vendor a:hover {
    background-image: url('../img/logo-1-hover.png');
}

.vendor:nth-child(2) a {
    background-image: url('../img/logo-2.png');
}

.vendor:nth-child(2) a:hover {
    background-image: url('../img/logo-2-hover.png')
}

.vendor:nth-child(3) a {
    background-image: url('../img/logo-3.png');
}

.vendor:nth-child(3) a:hover {
    background-image: url('../img/logo-3-hover.png');
}

.vendor:nth-child(4) a {
    background-image: url('../img/logo-4.png');
}

.vendor:nth-child(4) a:hover {
    background-image: url('../img/logo-4-hover.png');
}

.about-us h3 {
    font-size: 47px;
    letter-spacing: 0.001em;
}

.about-us p {
    font-family: 'open_sanslight', sans-serif;
    font-size: 15px;
    line-height: 30px;
}

.about-us .button::before {
    width: 260px;
    left: -20px
}

.about-us .button:hover::before {
    width: 260px;
}

.contacts h3 {
    font-size: 47px;
    letter-spacing: 0.001em;
}

.contacts p {
    font-family: 'open_sanslight', sans-serif;
    font-size: 15px;
    line-height: 30px;
}

.contacts button {
    font: inherit;
    font-size: 18px;
    letter-spacing: 0.2em;

    border: none;
    background: none;
}

.contacts button::before {
    width: 260px;
    left: -40px;
    top: 12px;
}

.contacts button:hover::before {
    width: 260px;
    left: -40px;
    top: -4px;
}

.main-footer {
    background-color: #464646;
}

.divice-address a {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 0.001em;
    color: #ffc600;
    text-transform: uppercase;
}

.divice-address a:hover {
    opacity: 0.6;
}

.divice-address a:active {
    opacity: 0.3;
}

.divice-address p {
    font-family: 'open_sanslight', sans-serif;
    font-size: 15px;
    line-height: 30px;
    color: #fff;
}

.add-services {
    list-style: none;
}

.add-services a {
    font-size: 18px;
    letter-spacing: 0.2em;
    color: #fff;
}

.add-services a:hover {
    opacity: 0.6;
}

.add-services a:active {
    opacity: 0.3;
}

.facebook,
.instagram,
.twitter {
    font-size: 0px;
    
    display: block;
    width: 32px;
    height: 32px;

    background-image: url('../img/facebook.svg');
    opacity: 0.3;
}

.facebook:hover,
.instagram:hover,
.twitter:hover {
    opacity: 0.6;
}

.facebook:active,
.instagram:active,
.twitter:active {
    opacity: 0.1;
}

.instagram {
    background-image: url('../img/instagram.svg');
}

.twitter {
    background-image: url('../img/twitter.svg');
}

.user-functions {
    list-style: none;
}

.user-functions a {
    font-family: 'open_sanslight', sans-serif;
    font-size: 15px;
    line-height: 36px;
    letter-spacing: 0.001em;
    color: #fff;

    opacity: 0.7;
}

.user-functions a:hover {
    opacity: 1;
}

.user-functions a:active {
    opacity: 0.3;
}

.info p {
    font-family: 'open_sanslight', sans-serif;
    font-size: 15px;
    line-height: 30px;
    color: #fff;
}

.info img:hover {
    opacity: 0.6;
}

.info img:active {
    opacity: 0.3;
}

.appointment-form label {
    font-size: 18px;
    line-height: 18px;
}

.appointment-form input[type='text'] {
    width: 360px;
    height: 50px;
    
    font-family: 'open_sanslight', sans-serif;
    font-size: 14px;
    line-height: 18px;
    
    border-style: none;
    background-color: #f2f2f2;
}

.appointment-form textarea {
    width: 760px;
    height: 156px;

    border-style: none;
    background-color: #f2f2f2;
}

.appointment-form input[type='text']:hover,
.appointment-form textarea:hover {
    background-color: #eaeaea;
}


.appointment-form input[type='text']:hover::placeholder,
.appointment-form textarea:hover::placeholder {
    color: #a8a8a8;
} 

.button-submit {
    font-size: 18px;
    font-family: inherit;
    letter-spacing: 0.2em;

    border: none;
    background: none;
}

.button-submit::before {
    width: 200px;
    top: 6px;
    left: -40px;
}

.button-submit:hover::before {
    width: 200px;
}

.page-title {
    font-size: 47px;
    letter-spacing: 0.001em;
}

.breadcrumbs {
    list-style: none;
}

.breadcrumbs a {
    font-family: 'open_sanslight', sans-serif;
    color: #000;
    
    opacity: 0.3;
}

.breadcrumbs a:hover {
    opacity: 0.6;
}

.breadcrumbs a:active {
    opacity: 0.1;
}

.filters h2 {
    font-size: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    background-color: #dcdcdc;
}

.filter {
    background-color: #efefef;
}

.filter fieldset {
    border: none;
}

.filter legend {
    font-size: 18px;
    letter-spacing: 0.001em;
}

.color-selection,
.bluetooth-on-off {
    font-family: 'Opne Sans', sans-serif;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 0.001em;

    list-style: none;
}

.filter button {
    font-family: inherit;
    font-size: 18px;
    letter-spacing: 0.2em;
    border: none;

    z-index: 1;
}

.filter button::before {
    top: 6px;
    width: 200px;
}

.filter button:hover::before {
    width: 200px;
}

.sorting {
    background-color: #efefef;
}

.sorting span {
    font-size: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.sorting a {
    font-family: 'open_sanslight', sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #000;

    opacity: 0.3;
}

.sorting a:hover {
    opacity: 0.6;
}

.sorting a:active {
    opacity: 1;
}

.catalog-list {
    list-style: none;
}

.next-or-back {
    background-color: #ebebeb;
}

.pagination-list {
    list-style: none;
}

.pagination-list a {
    font-size: 16px;
    letter-spacing: 0.2;
    color: #000;

    opacity: 0.3;
}

.pagination-list a:hover {
    opacity: 0.6;
}

.pagination-list a:active {
    opacity: 1;
}

/* Разметка сеток */

.main-header {
    width: 1040px;
    height: 186px;
    display: flex;
    margin: auto;
    margin-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
    justify-content: space-between;
}

.flex-header-main {
    display: flex;
    flex-direction: column;
}

.flex-header {
    display: flex;
    flex-direction: column;
}

.main-search {
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.main-navigation {
    width: 300px;
    height: 10px;
    padding: 0;
}

.user-functions-main {
    width: 500px;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
}

.user-functions-main li:nth-of-type(2) {
    margin-left: auto;
    margin-right: 15px;
}

.user-functions-list li:nth-of-type(2) {
    margin-right: auto;
    margin-left: 30px;
}

.user-functions-list {
    width: 500px;
    display: flex;
}

.item {
    width: 1160px;
    height: 594px;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.number {
    position: absolute;
}

.item-flex {
    flex-direction: column;
    width: 500px;
}

.tagline {
    margin-bottom: 40px;
}

.description {
    margin-bottom: 40px;
}

.item-flex .button {
    display: block;
    margin-bottom: 40px;
}

.sections {
    display: flex;
    width: 1160px;
    justify-content: space-between;
    padding: 0px;
    margin: auto;
}

.section {
    display: block;
    width: 160px;
}

.services-for-the-client {
    display: flex;
    width: 1160px;
    height: 288px;
    margin: auto;
}

.services {
    padding: 0px;
    width: 280px;
    margin-right: 120px;
}

.description {
    width: 460px;
}

.vendors {
    display: flex;
    width: 1160px;
    height: 290px;
    margin: auto;
    justify-content: space-between;
}

.vendor {
    margin-top: auto;
    margin-bottom: auto;
}

.more-info {
    display: flex;
    width: 1160px;
    height: 650px;
    margin: auto;
}

.about-us {
    width: 50%;
}

.about-us p {
    width: 480px;
}

.contacts {
    padding-left: 20px;
}

.contacts p {
    width: 560px;
}

.footer-flex {
    display: flex;
    width: 1160px;
    height: 323px;
    margin: auto;
}

.divice-address {
    width: 200px;
    margin-right: 160px;
}

.social {
    width: 440px;
}

.info {
    width: 300px;
    margin-left: auto;
}